.HotAccessories{
    display: flex;
    width: 90vw;
    margin: auto;
}

.HotAccessories > div:first-child > img{
    cursor: pointer;
    transition: all 0.5s;
    width: 22vw;
  }

  .HotAccessories > div:first-child > img:hover{
    transform: translateY(-0.4vmax);
    box-shadow: 0px 6px 15px rgba(53, 53, 53, 0.363);

}

.HotAccessories > div:last-child{
    display: flex;
    flex-wrap: wrap;
  }
  