
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
}

.form-container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-button {
  background-color: #2980b9;
  color: #fff;
}

.login-button:hover {
  background-color: #3498db;
}

.link {
  text-decoration: none;
  color: #2980b9;
  font-weight: bold;
}

.background-animation {
  animation: animateBackground 10s linear infinite;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@keyframes animateBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
