.ProductReviews{
    display: flex;
    width: 90vw;
    margin: auto;
    align-items: flex-start;
    justify-content: center;
}   
@media screen and (max-width:600px){
    .ProductReviews{
        flex-direction: column;
    }
}