/* Wishlist.css */
.Wishlist {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .wishlist-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Add space between items */
  }
  
  .Wishlist h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .wishlist-count {
    font-size: 16px;
    color: rgb(29, 169, 185);
    margin-top: 10px;
    text-align: center;
  }
  
  
