* {
    scroll-behavior: smooth;
}

.preNav {
    background-color: rgb(57, 55, 55);
    color: whitesmoke;
    display: grid;
    grid-template-columns: 5fr 2fr;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.preNav > div {
    padding: 0 4vmax;
    display: flex;
    align-items: center;
}

.preNav > div > span {
    color: rgb(180,180,180);
    font-size: 0.8vmax;
    font-weight: 100;
}

.preNav > div > a {
    color: rgb(180,180,180);
    font-size: 0.9vmax;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin: 1vmax;
    text-decoration: none;
}

.preNav > div > a:hover {
    color: white;
}

#cartSvg {
    fill: rgb(180, 180, 180);
    height: 20px;
    align-items: center;
    justify-content: center;
}